<div class="post">
  <div class="author">
    Author: TBD
  </div>
  <div class="post-time">
    Posted at: <%= post.created_at %>
  </div>
  <div class="content">
    <%= simple_format(post.content) %>
  </div>
</div>
