<div class="post">
  <div class="author">
    Author: <%= user_link(post.user) %>
  </div>
  <div class="post-time">
    Posted at: <%= post.created_at %>
  </div>
  <div class="content">
    <%= simple_format(post.content) %>
  </div>
  <% unless post.attachments.empty? %>
  <div class="attachments">
    Attachments: <br>
    <% post.attachments.each do |attachment| %>
      <%= link_to(image_tag(attachment.data.url(:thumb)), attachment.data.url) %> 
      <br/>
    <% end %>
  </div>
  <% end %>
</div>
