
<h2>New Post:</h2>

<div>
Board: <%= @board.name %>
</div>

<%= form_for([@board, @topic]) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
<% end %>

<div id="attachments">
<%= link_to("New Attachment", new_attachment_path, :target => "_blank") %><br/>
Attachments Preview: 
<div id="attachment-preview"></div>
</div>

