<tr>
  <td>
    <%= link_to(topic.title, board_topic_path(topic.board, topic)) %><br/>
  </td>
  <td>
    <%= topic.posts_count - 1 %>
  </td>
  <td>
    <%= user_link(topic.user)%><br/>
    <%= topic.created_at %>
  </td>
</tr>
