<h2>New Attachment</h2>

<%= form_tag(attachments_url, {:multipart => true, :method => :post}) do %>
  <% 1.upto(10) do |index| %>
    <%= file_field("attachments[#{index}]", "data") %> <br/>
  <% end %>
  <%= submit_tag("Upload") %>
<% end %>

