<tr>
  <td>
    <%= link_to(topic.title, board_topic_path(topic.board, topic)) %>
  </td>
  <td>
    <%= topic.posts_count - 1 %>
  </td>
  <td>
    <%= topic.created_at %>
  </td>
  <td>
    TBD
  </td>
</tr>
