<li>
<%= link_to(category.name, category_path(category)) %>
<% unless category.children.empty? and category.boards.empty? %>
  <ul>
  <% category.children.each do |subcategory| %>
    <%= render :partial => "categories/category_node", :locals => { :category => subcategory } %>
  <% end %>
  <% category.boards.each do |board| %>
    <li><%= link_to(board.name, board_path(board)) %>
  <% end %>
  </ul>
<% end %>
</li>

